.loop{
    cursor: pointer;
}

.container{
    width: 16px;
    height: 16px;
    /* position: absolute; */
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: #1F2021;
}
