
.caratule{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #1F2021;
    width: 300px;
    height: 45px;

}
.cover{
    border: solid 1px white;
    width: 40px;
    height:45px;
  }
.titles{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
    color: white;   
    padding-left: 5px;
}

.titles .song{
    font-size: 12px;
}
.titles .author{
    font-size: 10px;
    color: #807C7C;
}